body {
    overflow-x: hidden;
    position: relative;
}



body {
    background-color: rgb(241, 237, 225) !important;
}

.site-wrapper {
    position: relative;
    width: 100%;
}

.isolate,
.rich-text {
    background-color: transparent !important;
}

.texture {
    position: absolute;
    pointer-events: none;
    width: 100vw;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.website-texture {
    z-index: 100;
    mix-blend-mode: multiply;
    width: 100%;
    position: relative;
    mix-blend-mode: multiply;
}

.paper-texture-pattern-folds {
    mix-blend-mode: lighten;
    background-repeat: repeat-y;
    object-fit: cover;
    z-index: 104;
    opacity: .35;
    background-position: center;
    position: absolute;
}


.paper-texture-pattern-0 {
    z-index: 100;
    opacity: .8;
    mix-blend-mode: multiply;
    background-repeat: repeat-y;
    background-size: contain;
}

.paper-texture-pattern-1 {
    mix-blend-mode: screen;
    z-index: 98;
    opacity: .3;
    background-repeat: repeat;
}

.paper-texture-pattern-2 {
    mix-blend-mode: overlay;
    z-index: 97;
    opacity: .4;
    background-repeat: repeat;
}


/*X-LARGE-UP*/
:root {
    font-size: .8rem;
}

@media screen and (min-width: 400px) {
    :root {
        font-size: .85rem;
    }
}

@media screen and (min-width: 990px) {
    :root {
        font-size: .85rem;
    }
}

@media screen and (min-width: 1300px) {
    :root {
        font-size: .9rem;
    }
}


/*X-LARGE-UP*/
@media screen and (min-width: 1600px) {
    :root {
        font-size: 1rem;
    }
}


/*WIDESCREEN-UP*/
@media screen and (min-width: 2000px) {
    :root {
        font-size: 1.05rem;
    }
}


.button {
    border-radius: 100%;
    width: 100%;
    font-family: var(--font-heading-family);
    color: black;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0;
    outline: 0;
    border: none;
}

.button--medium {
    font-size: 2rem;
    padding-top: 1.75rem;
    padding-bottom: 2rem;
    line-height: 1;
}

.button--primary {
    border: 8px solid var(--quaternary-color);
    background-color: transparent;
}

.button--primary:hover {
    color: var(--primary-color);
    background-color: var(--quaternary-color);
}