/*------------------------------------*\
    #Color Good Times
\*------------------------------------*/


.color-good-times__inner {
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    column-gap: 6rem;
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 975px) {
    .color-good-times__inner {
        flex-direction: row;
        max-width: 90rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.color-good-times__copy-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (min-width: 975px) {
    .color-good-times__copy-container {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
    }
}







/*------------------------------------*\
    #Hat Color Areas
\*------------------------------------*/


.hat-logo {
    fill: #fff;
}

.hat-hole {
    fill: rgb(154, 154, 154);
}

.hat-body {
    fill: rgb(125, 125, 125);
}

.hat-knob {
    fill: rgb(86, 86, 86);
}

.hat-strap {
    fill: rgb(207, 207, 207);
}

.hat-lines {
    fill: #1C1A1A;
}

.hat-bill {
    fill: rgb(68, 68, 68);
}




/*------------------------------------*\
    #Hat
\*------------------------------------*/


.color-good-times__hat-slides {
    list-style: none;
    padding-left: 0;
    align-items: center;
    /* display: grid;
    grid-template-columns: 1fr;
    display: grid;
    position: absolute;
    width: 100%;
    height: 90%;
    overflow: hidden;
    object-fit: cover;
    flex-direction: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    list-style: none;
    left: 0;
    top: 0; */
}


.color-good-times__hat-container {
    width: 100%;
}

@media screen and (min-width: 975px) {
    .color-good-times__hat-container {
        width: 50%;
    }
}

.color-good-times__hat {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.color-good-times__hat {
    position: relative;
    width: 100%;
}

.color-good-times__hats svg {
    width: 100%;
}

/* 
@media screen and (min-width: 975px) {
    .color-good-times__hat {
        grid-template-columns: 1fr 1fr;
    }
} */





/*------------------------------------*\
    #Slideshow
\*------------------------------------*/

.color-good-times__hat-slide {
    width: 100%;
}


.color-good-times__hat-slide__inner {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.color-good-times__hat-slide__inner--front {
    width: 94%;
}

.color-good-times__hat-slide__inner--front .color-good-times__hat-angle {
    padding-bottom: 70%;
}

.color-good-times__hat-slide__inner--sides .color-good-times__hat-angle {
    padding-bottom: 50%;
}

.color-good-times__hat-slide__inner--sides {
    width: 100%;
    margin-top: 6%;
}

.color-good-times__hat-slide__inner--back .color-good-times__hat-angle {
    padding-bottom: 82%;
}

.color-good-times__hat-slide__inner--back {
    width: 80%;
}


.color-good-times__hat-angle {
    padding-bottom: 90%;
    position: relative;
    list-style: none;
    width: 100%;
}

.color-good-times__hat-container svg {
    position: absolute;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    object-fit: cover;
}




/*------------------------------------*\
    #Wrapper
\*------------------------------------*/


.color-good-times__hats.swiper-wrapper {
    overflow: visible;
    display: flex;
    height: 100%;
}


.color-good-times__hats.swiper-wrapper .lookbook-slideshow__slide {
    margin-right: -3rem;
}


.color-good-times__hats.swiper-wrapper .lookbook-slideshow__slide:first-child {
    margin-right: 0;
}





/*------------------------------------*\
    #Thumbnails
\*------------------------------------*/


.color-good-times__hat-thumbnails {
    display: flex;
    padding-left: 0;
    list-style: none;
    align-items: center;
    margin-bottom: 2.5rem;
    overflow: visible !important;
}

.color-good-times__hat-thumbnail {
    opacity: .7;
    position: relative;
    overflow: visible !important;
    display: flex;
    flex-direction: column;
}

.color-good-times__hat-thumbnail:hover,
.color-good-times__hat-thumbnail:focus {
    cursor: pointer;
    opacity: 1;
}

.color-good-times__hat-thumbnail.swiper-slide-thumb-active {
    opacity: 1;
}

.color-good-times__hat-thumbnail .color-area {
    pointer-events: none;
}

.color-good-times__hat .color-area {
    transition: fill .3s var(--easing-1);
}

.color-good-times__hat .color-area:hover {
    cursor: pointer;
}


.color-good-times__hat-thumbnail__label {
    text-transform: uppercase;
    font-size: .9rem;
    text-align: center;
    height: auto;
    width: 100%;
    position: relative;
    display: block;
}

.color-good-times__hat-slide__inner--sides+.color-good-times__hat-thumbnail__label {
    margin-top: 8%;
}

.color-good-times__copy {}

.color-good-times {
    position: relative;
}





/*------------------------------------*\
    #BG Logo
\*------------------------------------*/


.color-good-times__bg-logo {
    position: absolute;
    z-index: -1;
    top: -2rem;
    width: 100%;
    right: 0;
    left: 0;
}

@media screen and (min-width: 975px) {
    .color-good-times__bg-logo {
        position: absolute;
        z-index: -1;
        top: -20rem;
        width: 100%;
        left: 6rem;
        left: auto;
    }
}

@media screen and (min-width: 1200px) {
    .color-good-times__bg-logo {
        top: -46vw;
        width: 92%;
    }
}

@media screen and (min-width: 1900px) {
    .color-good-times__bg-logo {
        top: -70rem;
    }
}





/*------------------------------------*\
    #Copy + Form Buttons
\*------------------------------------*/


.color-good-times__headline {
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 1.25;
    text-shadow: var(--headline-shadow);
    color: var(--primary-color);
    margin-top: 0;
    max-width: 26rem;
    margin-bottom: 1.5rem;
}


@media screen and (min-width: 990px) {
    .color-good-times__headline {
        margin-bottom: 3rem;
        font-size: 5rem;
        max-width: 30rem;
    }
}

.color-good-times__swatches legend {
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: flex;
    align-items: center;

}

.current-color-swatch {
    width: 4rem;
    height: 1.75rem;
    border-radius: 10px;
    display: block;
    margin-left: 1rem;
    border: 3px solid black;
}

.color-good-times fieldset {
    border: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

.color-good-times__thumbs {
    list-style: none;
    padding-left: 0;
}

.color-good-times__thumb {
    max-width: 30%;
}


.color-good-times-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, 4rem);
    justify-content: space-between;
    grid-column-gap: 2rem;
}


@media screen and (min-width: 975px) {
    .color-good-times-options {
        max-width: 28rem;
    }
}

.color-good-times-option {
    border-radius: 8px;
    position: relative;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.color-good-times input {
    opacity: 0;
    position: absolute;
}

.color-good-times input:checked+label {
    border-color: black;
}

.color-good-times input:checked+label .color {
    width: 100%;
    height: 100%;
    transform: scale(1.3);
}


.color-good-times-option label {
    position: relative;
    border-radius: 8px;
    /* height: 2.3rem;
    width: 5.3rem; */
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    /* transform: rotate(10deg); */
}

.color-good-times-option label .color {
    width: 85%;
    position: absolute;
    height: 85%;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
    border-radius: 6px;
    mix-blend-mode: multiply;
    transition: all var(--duration-short) var(--easing-1);
}

.color-good-times-option .ring {
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    z-index: -1;
    background-color: transparent;
    border-radius: 100%;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    border: 3px solid black;
    z-index: 0;
}



.color-good-times-option label:hover {
    /* border: 3px solid black; */
}

.color-good-times-option label:hover .color {
    transform: scale(1.3);
}


.color-good-times-option label:hover {
    cursor: pointer;
}

.label-text {
    opacity: 0;
    position: absolute;
}