.color-good-times {}


.color-good-times__inner {
    padding-top: 8rem;
    max-width: 92rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6rem;
    display: grid;
    column-gap: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    grid-template-columns: 1fr;
    align-content: space-around;
}


@media screen and (min-width: 975px) {
    .color-good-times__inner {
        grid-template-columns: 1.25fr 1fr;
    }
}

/* 
.color-good-times__inner>div {
    justify-self: flex-start;
    width: 100%;
} */

.color-good-times__hat-container {
    width: 100%;
}

.color-good-times__hat {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (min-width: 975px) {
    .color-good-times__hat {
        grid-template-columns: 1fr 1fr;
    }
}

.color-good-times__hat .color-area {
    transition: fill .3s var(--easing-1);
}

.color-good-times__hat .color-area:hover {
    cursor: pointer;
}


.color-good-times__copy {}

.color-good-times {
    position: relative;
}

.color-good-times__bg-logo {
    position: absolute;
    z-index: -1;
    top: -2rem;
    width: 100%;
    right: 0;
    left: 0;
}

@media screen and (min-width: 975px) {
    .color-good-times__bg-logo {
        position: absolute;
        z-index: -1;
        top: -6rem;
        width: 100%;
        left: 6rem;
        left: auto;
    }
}

@media screen and (min-width: 1200px) {
    .color-good-times__bg-logo {
        width: 90%;
    }
}



.color-good-times__headline {
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 1.25;
    text-shadow: var(--headline-shadow);
    color: var(--primary-color);
    margin-top: 0;
    max-width: 26rem;
    margin-bottom: 1.5rem;
}


@media screen and (min-width: 990px) {
    .color-good-times__headline {
        margin-bottom: 3rem;
        font-size: 5rem;
        max-width: 30rem;
    }
}

.color-good-times__swatches legend {
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.current-color-swatch {
    width: 4rem;
    height: 2rem;
    border-radius: 8px;
    display: block;
    margin-left: 1rem;
    border: 2px solid black;
}

.color-good-times fieldset {
    border: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

.color-good-times__thumbs {
    list-style: none;
    padding-left: 0;
}

.color-good-times__thumb {
    max-width: 30%;
}


.color-good-times-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, 4rem);
    justify-content: space-between;
    grid-column-gap: 2rem;
}


@media screen and (min-width: 975px) {
    .color-good-times-options {
        max-width: 28rem;
    }
}

.color-good-times-option {
    border-radius: 8px;
    position: relative;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.color-good-times input {
    opacity: 0;
    position: absolute;
}

.color-good-times input:checked+label {
    border-color: black;
}

.color-good-times input:checked+label .color {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}


.color-good-times-option label {
    position: relative;
    border-radius: 8px;
    /* height: 2.3rem;
    width: 5.3rem; */
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    /* transform: rotate(10deg); */
}


.color-good-times-option label .color {
    width: 85%;
    position: absolute;
    height: 85%;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
    border-radius: 6px;
    mix-blend-mode: multiply;
    transition: all var(--duration-short) var(--easing-1);
}

.color-good-times-option .ring {
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    z-index: -1;
    background-color: transparent;
    border-radius: 100%;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    border: 3px solid black;
    z-index: 0;
}

.color-good-times-option label:hover {
    /* border: 3px solid black; */
}

.color-good-times-option label:hover .color {
    transform: scale(1.1);
}


.color-good-times-option label:hover {
    cursor: pointer;
}

.label-text {
    opacity: 0;
    position: absolute;
}