.collection-header {
  position: relative;
}




.collection-header__marquee {
  background-color: var(--quaternary-color);
  height: 10rem;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  left: 0;
  right: 0;
}


.collection-header--drops .collection-header__marquee,
.collection-header--drops .section-marquee {
  background-color: var(--quintenary-color);
}


.collection-header__inner {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}

.collection-header--with-image .collection-header__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

@media screen and (min-width: 700px) {
  .collection-header.collection-header--with-image {
    padding: calc(4rem + var(--page-width-margin)) 0 calc(4rem + var(--page-width-margin));
    overflow: hidden;
  }

  .collection-header--with-image .collection-header__inner {
    padding-bottom: 0;
  }
}

.collection-header__text-wrapper {
  flex-basis: 100%;
}

@media screen and (min-width: 700px) {
  .collection-header {
    padding: 0;
  }

  .collection-header__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.collection-header__title {
  margin-top: 2rem;
  margin-bottom: .25rem;
  color: var(--primary-color);
  text-shadow: var(--headline-shadow);
  text-transform: uppercase;
  font-size: 3.5rem;
}

@media screen and (min-width: 700px) {
  .collection-header__title {
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 990px) {
  .collection-header__title {
    font-size: 4.5rem;
  }
}

.collection-header__title+.collection-header__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (min-width: 700px) {
  .collection-header__title+.collection-header__description {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .collection-header__description {
    max-width: 66.67%;
  }

  .collection-header--with-image .collection-header__description {
    max-width: 100%;
  }
}

.collection-header--with-image .collection-header__title {
  margin: 0;
}

.collection-header--with-image .collection-header__text-wrapper {
  padding: 5rem 0 4rem;
}

.collection-header__image-container {
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
}

@media screen and (max-width: 749px) {
  .collection-header__image-container {
    height: 20rem;
  }
}

@media screen and (min-width: 700px) {
  .collection-header--with-image .collection-header__text-wrapper {
    padding: 4rem 2rem 4rem 0;
    flex-basis: 50%;
  }

  .collection-header__image-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 3rem;
    min-height: 20rem;
  }
}