.footer__inner {
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: var(--page-width);
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 990px) {
  .footer__inner {
    padding-top: 7rem;
    display: flex;
    overflow: auto;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1.25rem;
  }
}



.footer__menu {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center
}

@media screen and (min-width: 700px) {
  .footer__menu {
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}


@media screen and (min-width: 990px) {
  .footer__menu {
    flex-grow: 1;
    max-width: 40rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-right: 3rem;
  }
}



.footer__menu--social {
  flex-direction: row;
  justify-content: space-around;
  max-width: 39rem;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (min-width: 990px) {
  .footer__menu--social {
    flex-grow: 0;
    margin-left: 0;
  }
}




.footer__menu__item {
  margin-bottom: .75rem;
  display: inline-block;
}


@media screen and (min-width: 990px) {
  .footer__menu__item {
    margin-bottom: 0;
  }
}


.footer__menu__link {
  display: flex;
  align-items: center;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.75rem;
  position: relative;
  font-family: var(--font-heading-family);
  justify-content: center;
}



@media screen and (min-width: 990px) {
  .footer__menu__link {
    font-size: 1.25rem;
  }
}


.footer__menu__link:not(.footer__menu__link--social):hover:after,
.footer__menu__link:not(.footer__menu__link--social):focus:after,
.footer__menu__link:not(.footer__menu__link--social):hover:before,
.footer__menu__link:not(.footer__menu__link--social):focus:before {
  opacity: 1;
}

.footer__menu__link:not(.footer__menu__link--social):before {
  content: " ";
  height: 3px;
  width: 100%;
  position: absolute;
  top: 1.15rem;
  left: 0;
  right: 0;
  background-color: var(--tertiary-color);
  opacity: 0;
}

@media screen and (min-width: 990px) {
  .footer__menu__link:not(.footer__menu__link--social):before {
    top: .85rem;
  }
}


.footer__menu__link:not(.footer__menu__link--social):after {
  content: " ";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: .5rem;
  left: 0;
  right: 0;
  background-color: var(--tertiary-color);
  opacity: 0;
}

@media screen and (min-width: 990px) {
  .footer__menu__link:not(.footer__menu__link--social):after {
    bottom: .5rem;
  }
}


.footer__menu__link--social {
  line-height: 1;
  font-style: italic;
}

@media screen and (min-width: 990px) {
  .footer__menu__link--social {
    margin-right: 1rem;
  }
}



.footer__menu__link--social:after {
  content: " ";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: .25rem;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0;
}



.footer__menu__link--social:hover,
.footer__menu__link--social:focus {
  fill: red;
  opacity: .6;
}

.footer__menu__link-icon {
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
  margin-bottom: -0.5rem;
  fill: red;
}

@media screen and (min-width: 990px) {
  .footer__menu__link-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.footer__menu__link-icon--youtube {
  height: 3rem;
  width: 2.5rem;
}

@media screen and (min-width: 990px) {
  .footer__menu__link-icon--youtube {
    height: 2rem;
    width: 2rem;
  }
}

.footer__we-got-you-container {
  width: 65%;
  position: relative;
  max-width: 18rem;
  margin-right: auto;
  margin-left: -1rem;
  margin-top: 3rem;
  margin-bottom: -1rem
}

@media screen and (min-width: 990px) {
  .footer__we-got-you-container {
    width: 100%;
    position: relative;
    max-width: 22rem;
    margin-right: 0;
    margin-left: 0;
    margin-top: 3rem;
    margin-bottom: -3rem;
    right: 1rem;
  }
}


.footer__we-got-you {
  position: relative;
  padding-bottom: 40%;
}

.footer__we-got-you svg {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  object-fit: cover;
  transition: all 1s var(--easing-1);
}

.footer__we-got-you:hover svg {
  animation: multi-colorizer 1s alternate infinite var(--easing-1);
}

@keyframes multi-colorizer {
  0% {
    fill: var(--quaternary-color);
  }

  30% {
    fill: var(--tertiary-color)
  }

  60% {
    fill: var(--quintenary-color)
  }

  100% {
    fill: var(--quaternary-color)
  }
}



.footer__credit {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-heading-alt-family);
  max-width: 24rem;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
}

@media screen and (min-width: 990px) {
  .footer__credit {
    margin-right: 0;
    flex-grow: 1;
    margin-bottom: .25rem;
    max-width: 28rem;
    display: flex;
    flex-direction: column;
  }
}