/*------------------------------------*\
    #Feastured Collection Section
\*------------------------------------*/


.featured-collection {
    margin-bottom: 2rem;
}

@media screen and (min-width: 990px) {
    .featured-collection.featured-collection--reverse .grid {
        flex-direction: row-reverse;
    }
}

.featured-collection__info-wrapper {
    margin-bottom: 2rem;

}


@media screen and (min-width: 990px) {
    .featured-collection__info-wrapper {
        z-index: 2;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
        margin-left: auto;
        padding-left: 3rem;
        position: relative;
    }
}

@media screen and (min-width: 990px) {
    .featured-collection__info-wrapper:after {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 65vw;
        z-index: -1;
        right: -18vw;
        background: linear-gradient(-90deg, rgb(241, 237, 225) 80%, rgba(241, 237, 225, 0) 100%);
    }
}

@media screen and (min-width: 990px) {
    .featured-collection.featured-collection--reverse .featured-collection__info-wrapper:after {
        left: -20vw;
        right: auto;
        background: linear-gradient(90deg, rgb(241, 237, 225) 80%, rgba(241, 237, 225, 0) 100%);
    }

    .featured-collection.featured-collection--reverse .featured-collection__info-wrapper {
        padding-left: 2rem;
        margin-right: auto;
        margin-left: 0;
    }
}


@media screen and (min-width: 990px) {
    .featured-collection.featured-collection--reverse .featured-collection__info {
        padding-left: 3rem;
    }
}


.featured-collection .collection__title {
    text-transform: uppercase;
    font-size: 4.5rem;
    line-height: 1.25;
    text-shadow: var(--headline-shadow);
    color: var(--primary-color);
    max-width: 34rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 990px) {
    .featured-collection .collection__title {
        font-size: 7rem;
        max-width: 100%;
    }
}



.featured-collection .collection__description {
    max-width: 32rem;
    font-size: 1.3rem;
    line-height: 1.45;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 990px) {
    .featured-collection .collection__description {
        max-width: 30rem;
        margin-left: 6rem;
        margin-bottom: 1.75rem;
    }
}


.collection__view-all {
    margin-right: 0;
    left: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 32rem;
}


.collection__view-all a {
    max-width: content;
    width: auto;
}

.collection__view-all:before {
    content: " ";
    position: absolute;
    height: 3px;
    width: 27%;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-left: 0;
}

@media screen and (min-width: 990px) {
    .collection__view-all {
        max-width: 30rem;
    }
}

@media screen and (min-width: 990px) {

    feat-collection-product-slideshow {
        margin-left: -3rem;
        position: relative;
        display: block;
    }

    .featured-collection.featured-collection--reverse feat-collection-product-slideshow {
        margin-left: -6rem;
    }
}

.featured-collection__products {
    position: relative;
    padding-bottom: 110%;
    overflow: hidden;
    width: 100%;
    list-style: none;
}


@media screen and (min-width: 990px) {
    .featured-collection__products {
        max-width: 46rem !important;
        margin: auto;
    }
}


.featured-collection__products.swiper {
    overflow: visible;
}



.featured-collection__products__inner {
    list-style: none;
}


.featured-collection__product.swiper-slide {
    opacity: .4;
    transition: all .2s ease-in-out;
}

.featured-collection__product.swiper-slide.swiper-slide-active {
    opacity: 1;
}

.featured-collection__product-descriptions {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;

}

@media only screen and (min-width: 990px) {
    .featured-collection__product-descriptions {
        max-width: 34rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 4rem !important;
        margin-top: -1rem;
    }
}


.featured-collection__product-description__inner {
    list-style: none;
    padding-left: 0;
    position: relative;
    margin-bottom: 0;
}

@media only screen and (min-width: 990px) {
    .featured-collection__product-description__inner {
        margin-top: 0;

    }
}

.featured-collection__product-descriptions .card__information {
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.featured-collection__product-descriptions {
    position: relative;
}

@media only screen and (min-width: 990px) {
    .featured-collection__product-description .card__heading a {
        font-size: 1.25rem;
    }

    .featured-collection__product-description .card__information .price {
        font-size: 1.25rem;
    }

    .featured-collection__product-description .card__information .card__vendor {
        font-size: .8rem;
    }

}


.featured-collection__product-descriptions__nav {
    position: absolute;
    right: 0;
    top: 1.15rem;
    width: 10rem;
    height: 4rem;
}

@media screen and (min-width: 700px) {
    .featured-collection__product-descriptions__nav {
        right: 4rem;
    }
}

@media screen and (min-width: 990px) {
    .featured-collection__product-descriptions__nav {
        right: 0;
        top: 0;
        width: 12rem;
    }
}

.featured-collection__product-descriptions__nav .swiper-button-prev:after,
.featured-collection__product-descriptions__nav .swiper-button-next:after {
    content: "";
}

.featured-collection__product-descriptions__nav .swiper-button-prev,
.featured-collection__product-descriptions__nav .swiper-button-next {
    width: 3.75rem;
    height: 1.75rem;
    opacity: .7;
    overflow: hidden;
}

@media screen and (min-width: 990px) {

    .featured-collection__product-descriptions__nav .swiper-button-prev,
    .featured-collection__product-descriptions__nav .swiper-button-next {
        width: 5rem;
        height: 2rem;
    }
}


.featured-collection__product-descriptions__nav .swiper-button-prev:hover,
.featured-collection__product-descriptions__nav .swiper-button-prev:focus,
.featured-collection__product-descriptions__nav .swiper-button-next:hover,
.featured-collection__product-descriptions__nav .swiper-button-next:focus {
    opacity: 1;
}


.featured-collection__product-descriptions__nav .swiper-button-prev svg {
    transform: rotate(180deg);

}

.featured-collection__product-descriptions__nav svg {
    color: black;
    height: 100%;
    width: 100%;
}