/* Featured Product Section */


.featured-product {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}

@media screen and (min-width: 990px) {
  .featured-product {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
}


.featured-product .product__title {
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 1.25;
  text-shadow: var(--headline-shadow);
  color: var(--primary-color);
  margin-top: 0;
  max-width: 34rem;
}

@media screen and (min-width: 990px) {
  .featured-product .product__title {
    font-size: 5rem;
    max-width: 100%;
  }
}

.featured-product .product__media-list {
  width: 100%;
  margin: 0;
  padding-bottom: 0;
}

.featured-product .global-media-settings:after {
  z-index: 0;
}

.featured-product .product__modal-opener {
  margin-bottom: var(--media-shadow-vertical-offset);
}

.featured-product .product__media-item {
  padding-left: 0;
  width: 100%;
}

.featured-product .product__media-item:not(:first-child) {
  display: none;
}

.background-secondary .featured-product {
  padding: 2.5rem;
}

.featured-product .share-button:nth-last-child(2) {
  display: inline-flex;
}

.share-button+.product__view-details {
  display: inline-flex;
  float: right;
  align-items: center;
}

.share-button+.product__view-details::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 700px) {
  .featured-product .product__media-item {
    padding-bottom: 0;
  }

  .background-secondary .featured-product {
    padding: 5rem;
  }
}

@media screen and (min-width: 990px) {

  .background-secondary .featured-product {
    padding: 6rem 7rem;
    position: relative;
    z-index: 1;
  }
}

.featured-product__new-starburst {
  position: absolute;
  left: -.25rem;
  top: 0;
  width: 30%;
  width: 35vw;
  max-width: 11rem;
}

@media screen and (min-width: 990px) {
  .featured-product__new-starburst {
    left: 0;
    top: 2rem;
    max-width: 10.5rem;
  }
}

.featured-product__new-starburst svg {
  width: 100%;
}

.featured-product__featured-line {
  position: absolute;
  transform: rotate(-90deg);
  text-transform: uppercase;
  left: -4.25rem;
  top: -9rem;
  font-size: 1.15rem;
  font-weight: var(--font-body-weight-bold);
}

@media screen and (min-width: 700px) {
  .featured-product__featured-line {
    transform: rotate(90deg);
    right: -4.25rem;
    left: auto;
    top: -8rem;
  }
}

.featured-product__featured-line:after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  left: 0;
  right: 0;
  background-color: var(--quaternary-color);
}

.featured-product__images-wrapper {
  position: relative;
  right: -23%;
  max-width: 36rem;
  width: 97vw;
}

@media screen and (min-width: 700px) {
  .featured-product__images-wrapper {
    position: relative;
    left: -7vw;
    width: 57vw;
    top: 6rem;
    max-width: 71rem;
  }
}


@media screen and (min-width: 990px) {
  .featured-product__images-wrapper {
    left: 2rem;
    top: 4rem;
    width: 50vw;
    max-width: 49rem;
  }
}


.featured-product__image {
  padding-bottom: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}

.featured-product__image img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  object-fit: contain;
}

.featured-product .product__vendor {
  text-transform: uppercase;
  font-weight: var(--font-body-weight-bold);
  background-color: var(--septinary-color);
  display: inline-block;
  margin-bottom: .5rem;
  padding-left: .45rem;
  padding-right: .45rem;
  font-size: 1.15rem;
  margin-top: 0;
}

@media screen and (min-width: 990px) {
  .featured-product .product__vendor {
    margin-bottom: -2.5rem;
  }
}


.featured-product .product__description {
  max-width: 25rem;
  font-size: 1.3rem;
  line-height: 1.45;
  margin-right: 0;
  margin-left: auto;
}

@media screen and (min-width: 990px) {
  .featured-product .product__description {
    max-width: 30rem;
    margin-right: 6rem;
  }
}



.featured-product .product__info-wrapper {
  max-width: 36rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media screen and (min-width: 700px) {
  .featured-product .product__info-wrapper {
    padding-left: 2rem;
    margin-top: 12rem;
  }
}

@media screen and (min-width: 990px) {
  .featured-product .product__info-wrapper {
    max-width: 100%;
    padding-left: 4rem;
    margin-top: 13rem;
  }
}

.product-form__price-buttons {
  display: flex;
  align-items: center;
  max-width: 25rem;
  margin-right: 0;
  margin-left: auto;
  padding-bottom: 2rem;
  border-bottom: 3px solid black;
}

@media screen and (min-width: 990px) {
  .product-form__price-buttons {
    max-width: 30rem;
    margin-right: 6rem;
  }
}


.featured-product .product-form__price-buttons button {
  margin-bottom: 0;
}

.featured-product .price__regular {
  font-family: var(--font-heading-family);
  font-size: 2.25rem;
  font-style: italic;
  margin-right: 2rem;
  letter-spacing: 0;
}