.featured-product {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}

.featured-product .product__title {
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 1.15;
  text-shadow: var(--headline-shadow);
  color: var(--primary-color);
}

.featured-product .product__media-list {
  width: 100%;
  margin: 0;
  padding-bottom: 0;
}

.featured-product .global-media-settings:after {
  z-index: 0;
}

.featured-product .product__modal-opener {
  margin-bottom: var(--media-shadow-vertical-offset);
}

.featured-product .product__media-item {
  padding-left: 0;
  width: 100%;
}

.featured-product .product__media-item:not(:first-child) {
  display: none;
}

.background-secondary .featured-product {
  padding: 2.5rem;
}

.featured-product .share-button:nth-last-child(2) {
  display: inline-flex;
}

.share-button+.product__view-details {
  display: inline-flex;
  float: right;
  align-items: center;
}

.share-button+.product__view-details::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 750px) {
  .featured-product .product__media-item {
    padding-bottom: 0;
  }

  .background-secondary .featured-product {
    padding: 5rem;
  }
}

@media screen and (min-width: 990px) {
  .background-secondary .featured-product:not(.product--no-media)>.product__info-wrapper {
    padding: 0 0 0 5rem;
  }

  .featured-product:not(.product--no-media)>.product__info-wrapper {
    padding: 0 7rem;
  }

  .background-secondary .featured-product {
    padding: 6rem 7rem;
    position: relative;
    z-index: 1;
  }
}

.featured-product .product__info-wrapper {
  position: relative;
}


.featured-product__new-starburst {
  position: absolute;
  left: -.25rem;
  top: 0;
  width: 30%;
  width: 35vw;
  max-width: 11rem;
}

.featured-product__new-starburst svg {
  width: 100%;
}

.featured-product__featured-line {
  position: absolute;
  transform: rotate(-90deg);
  text-transform: uppercase;
  left: -5rem;
  top: -7rem;
  font-size: 1.15rem;
  font-weight: var(--font-body-weight-bold);
}

.featured-product__featured-line:after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
}

.featured-product__images-wrapper {
  position: relative;
  right: -23%;
  max-width: 36rem;
  width: 97vw;
}

.featured-product__image {
  padding-bottom: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.featured-product__image img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  object-fit: contain;
}