/*------------------------------------*\
    #Section Lookbook Slideshow
\*------------------------------------*/


.lookbook-slideshow-container {
    position: relative;
    overflow: hidden;
}

.lookbook-slideshow-container__inner {
    padding-bottom: 6rem;
}

@media screen and (min-width: 990px) {
    .lookbook-slideshow-container__inner {
        padding-top: 4.5rem;
    }
}


.lookbook-slideshow-container__inner lookbook-slideshow {
    display: block;
    width: 100%;
}


@media screen and (min-width: 990px) {
    .lookbook-slideshow__header {
        padding-bottom: 100%;
        width: 23vw;
        position: absolute;
    }
}

/*------------------------------------*\
    #Slideshow Heading
\*------------------------------------*/


.lookbook-slideshow__heading {
    text-shadow: var(--headline-shadow);
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 700px) {
    .lookbook-slideshow__heading {
        font-size: 7rem;
    }
}

@media screen and (min-width: 990px) {
    .lookbook-slideshow__heading {
        font-size: 9rem;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        position: absolute;
        left: 0;
        right: 0;
        top: 2rem;
    }
}

.lookbook-slideshow-container {
    margin-bottom: 0;
    padding-bottom: 0;
}

.lookbook-slideshow {
    padding-bottom: 120%;
    position: relative;
}

@media screen and (min-width: 700px) {
    .lookbook-slideshow {
        padding-left: 3rem;
        padding-bottom: 70%;
    }
}


@media screen and (min-width: 990px) {
    .lookbook-slideshow {
        padding-left: 0;
        padding-bottom: 50%;
    }
}

.lookbook-slideshow__inner {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    flex-direction: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    list-style: none;
    left: 0;
    top: 0;
}


@media screen and (min-width: 990px) {
    .lookbook-slideshow__inner {
        left: -15rem;
    }
}


.lookbook-slideshow__inner:hover {
    cursor: none !important;
}




/*------------------------------------*\
    #Wrapper
\*------------------------------------*/


.lookbook-slideshow__inner.swiper-wrapper {
    overflow: visible;
    display: flex;
    height: 100%;
}


.lookbook-slideshow__inner.swiper-wrapper .lookbook-slideshow__slide {
    margin-right: -3rem;
}


.lookbook-slideshow__inner.swiper-wrapper .lookbook-slideshow__slide:first-child {
    margin-right: 0;
}





/*------------------------------------*\
    #Slides
\*------------------------------------*/


.lookbook-slideshow__slide {
    width: 100%;
}

.lookbook-slideshow__slide__inner {
    position: relative;
    display: block;
    padding-bottom: 140%;
    overflow: hidden;
}

@media screen and (min-width: 770px) {
    .lookbook-slideshow__slide__inner {
        padding-bottom: 160%;
    }
}


@media screen and (min-width: 990px) {
    .lookbook-slideshow__slide__inner {
        padding-bottom: 150%;
    }
}

.lookbook-slideshow__slide__inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    object-position: top;
    left: 0;
}


.lookbook-slideshow__pagination {
    display: flex;
    z-index: 1;
    position: absolute;
    bottom: 0 !important;
    padding-top: var(--level3);
    padding-bottom: var(--level3);
    background-color: #fff;
    justify-content: center;
}

.product-images-slideshow__pagination {
    width: 100%;
    padding-bottom: var(--level2);
    color: #fff;
    display: flex;
    justify-content: center;
    z-index: 10;
    position: absolute;
    bottom: 0;
}

.lookbook-slideshow__pagination .swiper-pagination-bullet {
    border: 1.5px solid black;
    width: .5rem;
    height: .5rem;
    opacity: 1;
    margin: .2rem !important;
    transition: all .2s ease;
}

.lookbook-slideshow__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    transform: scale(.7);
    background-color: transparent;
}





/*------------------------------------*\
    #Drag Cursor
\*------------------------------------*/


@media (hover:hover) {

    .drag-cursor {
        position: fixed;
        border-radius: 100%;
        background-color: red;
        border: 2px solid white;
        font-family: var(--font-heading-family);
        text-transform: uppercase;
        color: var(--primary-color);
        height: 6.75rem;
        width: 6.75rem;
        background-color: var(--quaternary-color);
        text-align: center;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        display: flex;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }

    .drag-cursor span {
        line-height: 1;
        font-size: 1.15rem;
    }
}